## Name : Shreekant Sunil Lohagale
## Year & Div : TY-AIML-B
## Roll No. : 32

## Assignment No 2

---


#Handle missing data (mean, median, mode),remove duplicates, and fix data types. Identify and treat outliers.

# Data Cleaning with Pandas

In [1]:
import pandas as pd
import numpy as np

# Sample dataset with issues
data = {
    "Student_ID": [1, 2, 3, 4, 5, 5],   # Duplicate ID (5)
    "Name": ["Amit", "Riya", "Sahil", "Neha", "Ravi", "Ravi"],
    "Age": [20, np.nan, 22, 21, 200, 21],   # Missing + Outlier (200 years!)
    "Marks": [85, 90, np.nan, 88, 95, 95],  # Missing values
    "Joining_Date": ["2023-06-01", "2023-06-05", "06/10/2023", "2023/06/15", "15-06-2023", "2023-06-15"]
}

In [2]:
df = pd.DataFrame(data)
print("---- Original Data ----")
print(df, "\n")

---- Original Data ----
   Student_ID   Name    Age  Marks Joining_Date
0           1   Amit   20.0   85.0   2023-06-01
1           2   Riya    NaN   90.0   2023-06-05
2           3  Sahil   22.0    NaN   06/10/2023
3           4   Neha   21.0   88.0   2023/06/15
4           5   Ravi  200.0   95.0   15-06-2023
5           5   Ravi   21.0   95.0   2023-06-15

# 1. Handling Missing Data

In [3]:
print("---- Handling Missing Data ----")

# Fill Age with mean
df["Age"].fillna(df["Age"].mean(), inplace=True)
print(df, "\n")

---- Handling Missing Data ----
   Student_ID   Name    Age  Marks Joining_Date
0           1   Amit   20.0   85.0   2023-06-01
1           2   Riya   56.8   90.0   2023-06-05
2           3  Sahil   22.0    NaN   06/10/2023
3           4   Neha   21.0   88.0   2023/06/15
4           5   Ravi  200.0   95.0   15-06-2023
5           5   Ravi   21.0   95.0   2023-06-15

C:\Users\iiiaamnooob\AppData\Local\Temp\ipykernel_21320\2805824249.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(), inplace=True)

# 2. Remove Duplicates

In [4]:
print("---- Removing Duplicates ----")
df = df.drop_duplicates()
print(df, "\n")

---- Removing Duplicates ----
   Student_ID   Name    Age  Marks Joining_Date
0           1   Amit   20.0   85.0   2023-06-01
1           2   Riya   56.8   90.0   2023-06-05
2           3  Sahil   22.0    NaN   06/10/2023
3           4   Neha   21.0   88.0   2023/06/15
4           5   Ravi  200.0   95.0   15-06-2023
5           5   Ravi   21.0   95.0   2023-06-15

# 3. Fix Data Types

In [5]:

print("---- Fixing Data Types ----")

# Convert Joining_Date to datetime
df["Joining_Date"] = pd.to_datetime(df["Joining_Date"], dayfirst=True, errors="coerce")

---- Fixing Data Types ----

In [6]:
# Ensure Age is integer
df["Age"] = df["Age"].astype(int)

print(df.dtypes, "\n")
print(df, "\n")

Student_ID               int64
Name                    object
Age                      int64
Marks                  float64
Joining_Date    datetime64[ns]
dtype: object

   Student_ID   Name  Age  Marks Joining_Date
0           1   Amit   20   85.0   2023-01-06
1           2   Riya   56   90.0   2023-05-06
2           3  Sahil   22    NaN          NaT
3           4   Neha   21   88.0          NaT
4           5   Ravi  200   95.0          NaT
5           5   Ravi   21   95.0          NaT

# 4. Identify and Treat Outliers

In [7]:


print("---- Handling Outliers ----")

# Using IQR (Interquartile Range) method
Q1 = df["Age"].quantile(0.25)
Q3 = df["Age"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print("Lower Bound:", lower_bound, "Upper Bound:", upper_bound)

# Treat outliers: replace with median
df.loc[df["Age"] > upper_bound, "Age"] = df["Age"].median()

print("\nFinal Cleaned Dataset:")
print(df)

---- Handling Outliers ----
Lower Bound: -18.75 Upper Bound: 87.25

Final Cleaned Dataset:
   Student_ID   Name   Age  Marks Joining_Date
0           1   Amit  20.0   85.0   2023-01-06
1           2   Riya  56.0   90.0   2023-05-06
2           3  Sahil  22.0    NaN          NaT
3           4   Neha  21.0   88.0          NaT
4           5   Ravi  21.5   95.0          NaT
5           5   Ravi  21.0   95.0          NaT

C:\Users\iiiaamnooob\AppData\Local\Temp\ipykernel_21320\3997402512.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '21.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df["Age"] > upper_bound, "Age"] = df["Age"].median()