## Name : Shreekant Sunil Lohagale
## Year & Div : TY-AIML-B
## Roll No. : 32

## Assignment No 1

---


#Load data from CSV, JSON, Excel, or online APIs into Python using pandas.Explore dataset dimensions, data types, and summary.

In [1]:
import pandas as pd

# ================================
# Loading Data with Pandas
# ================================

# 1. Load Data from a CSV file

In [2]:

print("---- Loading CSV File ----")
csv_data = pd.read_csv("Dataset/HDFC.csv")   # Replace with your file path
print(csv_data.head(), "\n")

---- Loading CSV File ----
         Date Symbol Series  Prev Close   Open    High    Low   Last   Close  \
0  2000-01-03   HDFC     EQ      271.75  293.5  293.50  293.5  293.5  293.50
1  2000-01-04   HDFC     EQ      293.50  317.0  317.00  297.0  304.0  304.05
2  2000-01-05   HDFC     EQ      304.05  290.0  303.90  285.0  295.0  292.80
3  2000-01-06   HDFC     EQ      292.80  301.0  314.00  295.0  296.0  296.45
4  2000-01-07   HDFC     EQ      296.45  290.0  296.35  281.0  287.1  286.55

     VWAP  Volume      Turnover  Trades  Deliverable Volume  %Deliverble
0  293.50   22744  6.675364e+11     NaN                 NaN          NaN
1  303.62  255251  7.749972e+12     NaN                 NaN          NaN
2  294.53  269087  7.925368e+12     NaN                 NaN          NaN
3  300.14  305916  9.181669e+12     NaN                 NaN          NaN
4  288.80  197039  5.690480e+12     NaN                 NaN          NaN

# 2. Load Data from a JSON file

In [3]:

print("---- Loading JSON File ----")
json_data = pd.read_json("Dataset/sample1.json")  # Replace with your file path
print(json_data.head(), "\n")

---- Loading JSON File ----
    fear       chest    how  graph       camp  plural
0  quiet -1477429467  False  False  929234312  settle

# 3. Load Data from an Excel file

In [6]:
print("---- Loading Excel File ----")
excel_data = pd.read_excel("Dataset/SampleEXCEL.xlsx", sheet_name="Sheet1")  # Replace with your file path
print(excel_data.head(), "\n")

---- Loading Excel File ----
  Name   Age
0  John    25
1   Bob    26
2   Tom    24
3   Tim    14
4  Cris     2

# 4. Load Data from an Online API (using pandas.read_json or pd.DataFrame directly)
## Example: Public API for random users

In [7]:

print("---- Loading Data from Online API ----")
url = "https://jsonplaceholder.typicode.com/users"
api_data = pd.read_json(url)
print(api_data.head(), "\n")

---- Loading Data from Online API ----
   id              name   username                      email  \
0   1     Leanne Graham       Bret          Sincere@april.biz
1   2      Ervin Howell  Antonette          Shanna@melissa.tv
2   3  Clementine Bauch   Samantha         Nathan@yesenia.net
3   4  Patricia Lebsack   Karianne  Julianne.OConner@kory.org
4   5  Chelsey Dietrich     Kamren   Lucio_Hettinger@annie.ca

                                             address                  phone  \
0  {'street': 'Kulas Light', 'suite': 'Apt. 556',...  1-770-736-8031 x56442
1  {'street': 'Victor Plains', 'suite': 'Suite 87...    010-692-6593 x09125
2  {'street': 'Douglas Extension', 'suite': 'Suit...         1-463-123-4447
3  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...      493-170-9623 x156
4  {'street': 'Skiles Walks', 'suite': 'Suite 351...          (254)954-1289

         website                                            company
0  hildegard.org  {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...
1  anastasia.net  {'name': 'Deckow-Crist', 'catchPhrase': 'Proac...
2    ramiro.info  {'name': 'Romaguera-Jacobson', 'catchPhrase': ...
3       kale.biz  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...
4   demarco.info  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...

# ================================
# Exploring the Dataset
# ================================

In [8]:
# Shape (rows, columns)
print("CSV Data Shape:", csv_data.shape)

CSV Data Shape: (5306, 15)

In [9]:
# Column names
print("CSV Columns:", csv_data.columns.tolist())

CSV Columns: ['Date', 'Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last', 'Close', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume', '%Deliverble']

In [10]:
# Data types of each column
print("\nData Types:\n", csv_data.dtypes)

Data Types:
 Date                   object
Symbol                 object
Series                 object
Prev Close            float64
Open                  float64
High                  float64
Low                   float64
Last                  float64
Close                 float64
VWAP                  float64
Volume                  int64
Turnover              float64
Trades                float64
Deliverable Volume    float64
%Deliverble           float64
dtype: object

In [11]:
print("\nInfo of dataset:")
print(csv_data.info())

Info of dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5306 entries, 0 to 5305
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                5306 non-null   object
 1   Symbol              5306 non-null   object
 2   Series              5306 non-null   object
 3   Prev Close          5306 non-null   float64
 4   Open                5306 non-null   float64
 5   High                5306 non-null   float64
 6   Low                 5306 non-null   float64
 7   Last                5306 non-null   float64
 8   Close               5306 non-null   float64
 9   VWAP                5306 non-null   float64
 10  Volume              5306 non-null   int64
 11  Turnover            5306 non-null   float64
 12  Trades              2456 non-null   float64
 13  Deliverable Volume  4797 non-null   float64
 14  %Deliverble         4797 non-null   float64
dtypes: float64(11), int64(1), object(3)
memory usage: 621.9+ KB
None

In [12]:
# Summary statistics (numerical columns)
print("\nSummary Statistics:\n", csv_data.describe())

Summary Statistics:
         Prev Close         Open         High          Low         Last  \
count  5306.000000  5306.000000  5306.000000  5306.000000  5306.000000
mean   1283.666114  1284.393074  1304.269732  1263.297842  1283.885017
std     709.395090   709.703665   721.308080   697.450309   709.250204
min     271.750000   284.000000   290.500000   273.250000   282.850000
25%     668.650000   669.712500   677.512500   660.000000   669.000000
50%    1136.275000  1135.400000  1156.725000  1119.000000  1135.000000
75%    1811.475000  1813.812500  1835.000000  1783.075000  1812.000000
max    3180.150000  3148.000000  3262.000000  3100.550000  3178.000000

             Close         VWAP        Volume      Turnover         Trades  \
count  5306.000000  5306.000000  5.306000e+03  5.306000e+03    2456.000000
mean   1284.071005  1283.664578  1.848187e+06  2.620759e+14  102159.051303
std     709.430515   709.109622  2.991387e+06  3.607844e+14   57948.603200
min     283.850000   283.600000  2.919000e+03  1.834686e+11     973.000000
25%     668.662500   668.265000  3.034970e+05  2.461178e+13   62011.500000
50%    1136.675000  1136.720000  1.337788e+06  1.684207e+14   90405.000000
75%    1811.787500  1811.680000  2.732310e+06  3.419282e+14  129754.500000
max    3180.150000  3166.580000  1.584141e+08  1.043773e+16  538170.000000

       Deliverable Volume  %Deliverble
count        4.797000e+03  4797.000000
mean         1.329440e+06     0.653088
std          2.555073e+06     0.128115
min          1.786000e+03     0.119000
25%          2.688070e+05     0.575200
50%          1.021574e+06     0.666900
75%          1.939101e+06     0.742000
max          1.483131e+08     0.989400

In [13]:
# Checking for missing values
print("\nMissing Values:\n", csv_data.isnull().sum())

Missing Values:
 Date                     0
Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                2850
Deliverable Volume     509
%Deliverble            509
dtype: int64